form {
    border: 2px solid gray;
    padding: 20px;
    text-align: left;
    position: relative;
}

.section {
    border: 2px solid gray;
    padding: 10px;
    margin: 10px;
    position: relative;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
    outline-color: gray;

}
.button {
    padding: 10px;
    margin: 10px;
}
